h1,h3,p { 
	font-family: 'Raleway', sans-serif; 
	font-weight: 100; 
}

.flashcard h1 {
	font-size: 100px;
}

.flashcard {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.flashcard-description {
	visibility: hidden;
	font-size: 30px;
}

.flashcard-title {
	font-size: 40px;
}